/*MISC*/
/*colors*/
/*font-family*/
/*font-sizes*/
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 64.5%; }

header {
  padding: 1rem 0;
  background-color: #7C3E66; }

body {
  display: grid;
  grid-template-rows: 10% 100% 10%;
  min-height: 100vh; }

p {
  font-family: cursive;
  color: #A5BECC;
  background-color: #243A73;
  margin: auto;
  font-size: 1.6em; }

h1 {
  font-family: "Times New Roman", Times, serif;
  color: #A5BECC;
  font-size: 5rem; }

h2, h3 {
  background-color: #243A73;
  color: #A5BECC;
  margin: 1rem 0.5rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem; }

ul {
  list-style-type: none; }

/*animaciones*/
.box__menu :hover {
  transform: scale(1.3);
  transition: all 1s; }

p {
  -webkit-animation: p 3s;
  animation: p 3s; }

@-webkit-keyframes p {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes p {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.box {
  -webkit-animation: box 1s;
  animation: box 1s; }

@-webkit-keyframes box {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1; } }

@keyframes box {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1; } }

/*PARTIALS*/
/*Header*/
.navegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
  text-decoration: none;
  color: #F2EBE9;
  font-size: 1.2em; }
  .navegacion__logo {
    text-decoration: none;
    color: #898952;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.6em; }

main {
  background-image: url(\\images\\libreria.jpg);
  background-size: contain; }
  main .box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*Botones*/ }
    main .box__menu {
      padding: auto;
      margin: auto;
      border: 0.5rem; }
    main .box .btn, main .box .btn--vermas, main .box .btn--comentar {
      width: 15rem;
      padding: 1rem 1.2rem;
      font-size: 1.6em;
      margin: 0 auto; }
    main .box .btn--vermas {
      background-color: #f2ebe9; }
      main .box .btn--vermas:hover {
        background-color: #f2ebe956; }
    main .box .btn--comentar {
      background-color: #f2ebe9; }
      main .box .btn--comentar:hover {
        background-color: #f2ebe956; }

footer {
  padding: 1rem 0;
  background-color: #898952;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: auto;
  font-size: 1.2em;
  font-family: cursive; }

/*VIEWS*/
main .box__menu img {
  background-color: #A5BECC;
  border: 0.5rem solid #243A73;
  width: 25rem;
  height: 25rem;
  width: 100%;
  height: 100%;
  background-size: contain; }

.registro {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem; }
  .registro form {
    height: 100%;
    width: 100%;
    background-size: contain; }
