/*Header*/
.navegacion {
    @include flex(row, space-around, center, 10rem);
    text-decoration: none;
    color: $secondary;
    font-size: $text-small;
    &__logo {
        text-decoration: none;
        color: $base;
        @include flex(row, center, center, 1rem);
        font-size: $text-base;
    }
}