/*Header*/
.navegacion {
    @include flex(row, space-around, center, 10rem);
    text-decoration: none;
    color: $secondary;
    font-size: $text-small;
    &__logo {
        text-decoration: none;
        color: $base;
        gap: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $text-base;
    }
}