
*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 64.5%;
}
header {
    padding: 1rem 0;
    background-color: $primary;
}
body{
    display: grid;
    grid-template-rows: 15% 70% 15%;
    min-height: 100vh;
}
p {
    font-family: $font-principal;
    color: $alternatie;
    background-color: $text-color;
    margin: auto;
    font-size: $text-base;
}
h1 {
    font-family: $font-title;
    color: $alternatie;
    font-size: $text-large;
}
h2, h3 {
    background-color: $text-color;
    color: $alternatie;
    margin: 1rem 0.5rem;
    font-family: $font-title;
    font-size: $text-medium;
}
ul {
    list-style-type: none;
}

/*animaciones*/
.box__menu :hover{
    transform: scale(1.3);
    transition: all 1s;
}
p{
	-webkit-animation: p 3s ;
	animation: p 3s ;
}
@-webkit-keyframes p{
    0% {
        -webkit-filter: blur(12px);
            filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
            filter: blur(0px);
        opacity: 1;
    }
}
@keyframes p{
    0% {
        -webkit-filter: blur(12px);
            filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
            filter: blur(0px);
        opacity: 1;
    }
}
.box {
	-webkit-animation: box 1s ;
	animation: box 1s ;
}
@-webkit-keyframes box{
    0% {
        -webkit-transform: scale(0);
            transform: scale(0);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
            transform: scale(1);
        -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        opacity: 1;
    }
}
@keyframes box{
    0% {
        -webkit-transform: scale(0);
            transform: scale(0);
        -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
            transform: scale(1);
        -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        opacity: 1;
    }
}