
/*colors*/
$primary: #FEFBF6;
$secondary: #A6D1E6;
$alternative: #7F5283;
$text-color: #3D3C42;
/*font-family*/
$font-principal: 'Roboto', sans-serif;
$font-title: 'Dancing Script', cursive;
/*font-sizes*/
$text-large: 2.5rem;
$text-medium: 2rem;
$text-base: 1.6em;
$text-small: 1.4em;
