
/*colors*/
$primary: #7C3E66;
$secondary: #F2EBE9;
$alternatie: #A5BECC;
$text-color: #243A73;
$base: #898952;
/*font-family*/
$font-principal: cursive;
$font-title: 'Times New Roman', Times, serif;
/*font-sizes*/
$text-large: 5rem;
$text-medium: 2.5rem;
$text-base: 1.6em;
$text-small: 1.2em;